In [6]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

with open('config.txt', 'r') as f:
    names = f.read().split('\n')

def process_roster(path):
    roster = pd.read_csv(path)
    roster['Game'] = roster.Game.str.split('@').apply(lambda x: set([y.strip() for y in x]))

    roster['TeamAbbrev'] = roster.TeamAbbrev.apply(lambda x: set([x]))
    roster['OppAbbrev'] = roster.Game - roster.TeamAbbrev
    roster['Team'] = roster.TeamAbbrev.apply(lambda x: list(x)[0])
    roster['Opp'] = roster.OppAbbrev.apply(lambda x: list(x)[0])

    return roster[['Name','Time','Team', 'Opp', 'Position', 'Salary']]

In [7]:
df = process_roster(f'data/NBA $3K AND-ONE [20 ENTRY MAX]/2022-10-10.csv')

In [8]:
df

                 Name                       Time Team  Opp Position   Salary
0        Nikola Jokic  2022-10-11 01:00:00+00:00  DEN  PHX        C  10100.0
1         Joel Embiid  2022-10-10 23:00:00+00:00  PHI  CLE        C   9900.0
2        James Harden  2022-10-10 23:00:00+00:00  PHI  CLE    PG/SG   9600.0
3         LaMelo Ball  2022-10-10 23:00:00+00:00  CHA  WAS       PG   9200.0
4        Devin Booker  2022-10-11 01:00:00+00:00  PHX  DEN    PG/SG   9100.0
..                ...                        ...  ...  ...      ...      ...
151     Ish Wainright  2022-10-11 01:00:00+00:00  PHX  DEN       PF   3000.0
152     Vlatko Cancar  2022-10-11 01:00:00+00:00  DEN  PHX       SF   3000.0
153      Kellan Grady  2022-10-11 01:00:00+00:00  DEN  PHX       SG   3000.0
154        Jack White  2022-10-11 01:00:00+00:00  DEN  PHX       PF   3000.0
155  Collin Gillespie  2022-10-11 01:00:00+00:00  DEN  PHX       PG   3000.0

[156 rows x 6 columns]

In [45]:
import nba_api